$gray_color: rgb(153, 153, 153);

.table {
  tr td {
    vertical-align: middle !important;
  }

  thead tr th {
    white-space: nowrap;
  }
}

.navbar {
  border-radius: 0 !important;
}

// Make btn-group `btn`s non-collapsable
.btn-group {
  white-space: nowrap;
  font-size: 0;

  .btn { float: none; }
}

// Make normal `btn` responsive to wrapper width decrement
.btn {
  white-space: normal !important;
}

// Make table-responsive cells wrap
.table-responsive > .table {
  &> thead,
  &> tbody,
  &> tfoot {
    //&> tr > th,
    &> tr > td {
      white-space: normal;
    }
  }
}

.table td.important {
  a {
    font-size: 16px;
    //font-weight: bold;
  }
  small {
    color: $gray_color;
    display: block;
  }
}

#projects-table td.important {
  min-width: 170px;
}

#log-history {
  margin-top: 50px;

  .log-period small {
    // display: inline-block;
    // width: 35px;
    color: $gray_color;
  }

}

.table .center {
  text-align: center;
}

.nowrap {
  white-space: nowrap !important;

  .btn {
    white-space: nowrap !important;
  }
}

.page-header {
  margin-top: 30px;

  h1 small {
    margin-top: 2px;
    display: block;
    line-height: 1.2;
  }
}

.epic-display {
  text-align: center;
  font-size: 50px;
  margin: 20px 0;

  small {
    font-size: 60%;
    //color: $gray_color;
  }
}

.btn-epic {
  display: block;
  width: 100%;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0;
}

/* body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}*/
